# Data Import - Working with Web APIs and JSON (Movies Dataset)

In [100]:
#Load the required libraries
import pandas as pd
import numpy as np
import json
import requests

---

## 1. Importing Data from JSON files

__Import__ the json files __blockbusters.json__, __blockbusters2.json__ and load the datasets into Pandas DataFrames.

In [101]:
#Load the blockbusters.json file
blockbusters = pd.read_json('blockbusters.json')

In [102]:
#View the blockbusters dataframe
blockbusters.head()

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194

---

In [103]:
#Load the blockbusters2.json file
blockbusters2 = pd.read_json('blockbusters2.json')

In [104]:
#View the blockbusters2 dataframe
blockbusters2.head()

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194

---

In [105]:
#Load the blockbusters3.json file
with open("blockbusters3.json") as f:
    data = json.load(f)

In [106]:
#View the data
data

{'columns': ['title',
  'id',
  'revenue',
  'genres',
  'belongs_to_collection',
  'runtime'],
 'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17],
 'data': [['Avengers: Endgame',
   299534,
   2797800564,
   [{'id': 12, 'name': 'Adventure'},
    {'id': 878, 'name': 'Science Fiction'},
    {'id': 28, 'name': 'Action'}],
   {'id': 86311,
    'name': 'The Avengers Collection',
    'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
    'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
   181],
  ['Avatar',
   19995,
   2787965087,
   [{'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 14, 'name': 'Fantasy'},
    {'id': 878, 'name': 'Science Fiction'}],
   {'id': 87096,
    'name': 'Avatar Collection',
    'poster_path': '/nslJVsO58Etqkk17oXMuVK4gNOF.jpg',
    'backdrop_path': '/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg'},
   162],
  ['Star Wars: The Force Awakens',
   140607,
   2068223624,
   [{'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 878, 'name': 'Science Fiction'},
    {'id': 14, 'name': 'Fantasy'}],
   {'id': 10,
    'name': 'Star Wars Collection',
    'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
    'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
   136],
  ['Avengers: Infinity War',
   299536,
   2046239637,
   [{'id': 12, 'name': 'Adventure'},
    {'id': 28, 'name': 'Action'},
    {'id': 878, 'name': 'Science Fiction'}],
   {'id': 86311,
    'name': 'The Avengers Collection',
    'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
    'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
   149],
  ['Titanic',
   597,
   1845034188,
   [{'id': 18, 'name': 'Drama'},
    {'id': 10749, 'name': 'Romance'},
    {'id': 53, 'name': 'Thriller'}],
   None,
   194],
  ['Jurassic World',
   135397,
   1671713208,
   [{'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 878, 'name': 'Science Fiction'},
    {'id': 53, 'name': 'Thriller'}],
   {'id': 328,
    'name': 'Jurassic Park Collection',
    'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
    'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'},
   124],
  ['The Lion King',
   420818,
   1656943394,
   [{'id': 12, 'name': 'Adventure'}, {'id': 10751, 'name': 'Family'}],
   None,
   118],
  ['The Avengers',
   24428,
   1519557910,
   [{'id': 878, 'name': 'Science Fiction'},
    {'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'}],
   {'id': 86311,
    'name': 'The Avengers Collection',
    'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
    'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
   143],
  ['Furious 7',
   168259,
   1506249360,
   [{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}],
   {'id': 9485,
    'name': 'The Fast and the Furious Collection',
    'poster_path': '/uv63yAGg1zETAs1XQsOQpava87l.jpg',
    'backdrop_path': '/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg'},
   137],
  ['Avengers: Age of Ultron',
   99861,
   1405403694,
   [{'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 878, 'name': 'Science Fiction'}],
   {'id': 86311,
    'name': 'The Avengers Collection',
    'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
    'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
   141],
  ['Black Panther',
   284054,
   1346739107,
   [{'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 14, 'name': 'Fantasy'},
    {'id': 878, 'name': 'Science Fiction'}],
   {'id': 529892,
    'name': 'Black Panther Collection',
    'poster_path': '/9ZSPIsxI3TZDgfg0Jzk0RZl4INg.jpg',
    'backdrop_path': '/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg'},
   134],
  ['Harry Potter and the Deathly Hallows: Part 2',
   12445,
   1341511219,
   [{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'name': 'Adventure'}],
   {'id': 1241,
    'name': 'Harry Potter Collection',
    'poster_path': '/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg',
    'backdrop_path': '/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg'},
   130],
  ['Star Wars: The Last Jedi',
   181808,
   1332539889,
   [{'id': 14, 'name': 'Fantasy'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 878, 'name': 'Science Fiction'},
    {'id': 28, 'name': 'Action'}],
   {'id': 10,
    'name': 'Star Wars Collection',
    'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
    'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
   152],
  ['Frozen II',
   330457,
   1330764959,
   [{'id': 16, 'name': 'Animation'},
    {'id': 10751, 'name': 'Family'},
    {'id': 12, 'name': 'Adventure'}],
   {'id': 386382,
    'name': 'Frozen Collection',
    'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg',
    'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg'},
   104],
  ['Jurassic World: Fallen Kingdom',
   351286,
   1303459585,
   [{'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 878, 'name': 'Science Fiction'}],
   {'id': 328,
    'name': 'Jurassic Park Collection',
    'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
    'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'},
   129],
  ['Frozen',
   109445,
   1274219009,
   [{'id': 16, 'name': 'Animation'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 10751, 'name': 'Family'}],
   {'id': 386382,
    'name': 'Frozen Collection',
    'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg',
    'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg'},
   102],
  ['Beauty and the Beast',
   321612,
   1263521126,
   [{'id': 10751, 'name': 'Family'},
    {'id': 14, 'name': 'Fantasy'},
    {'id': 10749, 'name': 'Romance'}],
   None,
   129],
  ['Incredibles 2',
   260513,
   1241891456,
   [{'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 16, 'name': 'Animation'},
    {'id': 10751, 'name': 'Family'}],
   {'id': 468222,
    'name': 'The Incredibles Collection',
    'poster_path': '/l7GqbzkJwowYRIXAtUz2iCPi64a.jpg',
    'backdrop_path': '/9eDW2dVhnzPS2HvaRdK2OlAGaLq.jpg'},
   118]]}

In [107]:
#Get the dataframe
blockbusters3 = pd.DataFrame(data['data'], index = data['index'], columns = data['columns'])

In [108]:
#View the dataframe
blockbusters3

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",None,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

## 2. Working with APIs and JSON (Part 1)

a. __Create an account__ on https://www.themoviedb.org/

b. Get your personal __API Key__

c. __API-Request__ (movie module): Load all available information for the movie with __movie id = 140607__ into a Pandas DataFrame. <br> See https://developers.themoviedb.org/3/movies/get-movie-details for more information

In [109]:
#Get the API key
api_key = "your_api_key"

In [110]:
#Get the movie_id and API request url
movie_id = 140607
movie_api = "https://api.themoviedb.org/3/movie/{}?api_key="

In [111]:
#Add the API key to the url
url = movie_api.format(movie_id) + api_key

In [112]:
#Send the API request
data = requests.get(url).json()

In [113]:
type(data)

dict

In [114]:
pd.Series(data)

adult                                                                False
backdrop_path                             /k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg
belongs_to_collection    {'id': 10, 'name': 'Star Wars Collection', 'po...
budget                                                           245000000
genres                   [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
homepage                 http://www.starwars.com/films/star-wars-episod...
id                                                                  140607
imdb_id                                                          tt2488496
original_language                                                       en
original_title                                Star Wars: The Force Awakens
overview                 Thirty years after defeating the Galactic Empi...
popularity                                                          59.007
poster_path                               /wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg
production_companies     [{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    2015-12-15
revenue                                                         2068223624
runtime                                                                136
spoken_languages         [{'english_name': 'English', 'iso_639_1': 'en'...
status                                                            Released
tagline                                      Every generation has a story.
title                                         Star Wars: The Force Awakens
video                                                                False
vote_average                                                           7.3
vote_count                                                           16313
dtype: object

In [115]:
#Transpose the Series
df = pd.Series(data).to_frame().T

In [116]:
#View the dataframe
df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,...,2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.3,16313

## Working with APIs and JSON (Part 2)

5. __API-Request__ (discover module): Load all movies with __release date between 2020-01-01 and 2020-02-29__ into a Pandas DataFrame. <br>
See https://www.themoviedb.org/documentation/api/discover and https://developers.themoviedb.org/3/discover/movie-discover for more information.

In [117]:
#Get the discover_api
discover_api = "https://api.themoviedb.org/3/discover/movie?api_key="

In [118]:
#Create the query string
query = "&primary_release_date.gte=2020-01-01&primary_release_date.lte=2020-02-29"

In [119]:
#Complete the url
url = discover_api+api_key+query

In [120]:
#Get the data
data = requests.get(url).json()

In [121]:
#View data
data

{'page': 1,
 'results': [{'adult': False,
   'backdrop_path': '/ySHlkHDbXztjdjRJ0pZN7FXRnaW.jpg',
   'genre_ids': [16, 12, 28, 14],
   'id': 631132,
   'original_language': 'ja',
   'original_title': "ゴブリンスレイヤー -GOBLIN'S CROWN-",
   'overview': 'Goblin Slayer and his party head up to the snowy mountains in the north after receiving that request from the Sword Maiden to find any information on the Noble Fencer that disappeared after leaving to slay some goblins. A small village gets attacked, they encounter a mysterious chapel, and something about how these goblins are acting bothers the Goblin slayer.  In order to save the captured Noble Fencer, the Goblin Slayer and his party head to an ancient fortress covered in snow to face off with a powerful foe and a horde of goblins!',
   'popularity': 138.039,
   'poster_path': '/oyDaF4za9C9GxfYSyZUmj2aZGJT.jpg',
   'release_date': '2020-02-01',
   'title': "Goblin Slayer: Goblin's Crown",
   'video': False,
   'vote_average': 7.7,
   'vote_count': 139},
  {'adult': False,
   'backdrop_path': '/stmYfCUGd8Iy6kAMBr6AmWqx8Bq.jpg',
   'genre_ids': [28, 878, 35, 10751],
   'id': 454626,
   'original_language': 'en',
   'original_title': 'Sonic the Hedgehog',
   'overview': 'Based on the global blockbuster videogame franchise from Sega, Sonic the Hedgehog tells the story of the world’s speediest hedgehog as he embraces his new home on Earth. In this live-action adventure comedy, Sonic and his new best friend team up to defend the planet from the evil genius Dr. Robotnik and his plans for world domination.',
   'popularity': 124.308,
   'poster_path': '/aQvJ5WPzZgYVDrxLX4R6cLJCEaQ.jpg',
   'release_date': '2020-02-12',
   'title': 'Sonic the Hedgehog',
   'video': False,
   'vote_average': 7.4,
   'vote_count': 7240},
  {'adult': False,
   'backdrop_path': '/oj9pEWQq5higRzKWiE8f0d5hBSb.jpg',
   'genre_ids': [53, 27, 18],
   'id': 617708,
   'original_language': 'es',
   'original_title': 'La Llorona',
   'overview': 'Accused of the genocide of Mayan people, retired general Enrique is trapped in his mansion by massive protests. Abandoned by his staff, the indignant old man and his family must face the devastating truth of his actions and the growing sense that a wrathful supernatural force is targeting them for his crimes.',
   'popularity': 90.234,
   'poster_path': '/n2O3cSuxSKlnCiEXI2CB5auXA2G.jpg',
   'release_date': '2020-01-22',
   'title': 'La Llorona',
   'video': False,
   'vote_average': 6.6,
   'vote_count': 223},
  {'adult': False,
   'backdrop_path': '/jiqD14fg7UTZOT6qgvzTmfRYpWI.jpg',
   'genre_ids': [28, 80],
   'id': 495764,
   'original_language': 'en',
   'original_title': 'Birds of Prey (and the Fantabulous Emancipation of One Harley Quinn)',
   'overview': 'Harley Quinn joins forces with a singer, an assassin and a police detective to help a young girl who had a hit placed on her after she stole a rare diamond from a crime lord.',
   'popularity': 109.157,
   'poster_path': '/h4VB6m0RwcicVEZvzftYZyKXs6K.jpg',
   'release_date': '2020-02-05',
   'title': 'Birds of Prey (and the Fantabulous Emancipation of One Harley Quinn)',
   'video': False,
   'vote_average': 7,
   'vote_count': 8238},
  {'adult': False,
   'backdrop_path': '/aiQICxiWNcOsJruYxdPuhb6WtWu.jpg',
   'genre_ids': [9648, 18, 27, 12, 16],
   'id': 658558,
   'original_language': 'ja',
   'original_title': '劇場版 巨蟲列島',
   'overview': "After an airplane crash during a school trip, Oribe Mutsumi and her classmates were stranded on a seemingly deserted island. Mutsumi found the other survivors, and used her wilderness knowledge to help them. She expects that they will be rescued in about three days, which doesn't seem so long to endure. However, she didn't account for the fact that the island is populated with gigantic killer insects. Her knowledge of butterflies, wasps, and more may be the only thing that will help any of her classmates survive to be rescued!",
   'popularity': 118.732,
   'poster_path': '/uJFki1BLHvEi4gaPCJvy9SZQZpx.jpg',
   'release_date': '2020-01-10',
   'title': 'The Island of Giant Insects',
   'video': False,
   'vote_average': 4.5,
   'vote_count': 11},
  {'adult': False,
   'backdrop_path': '/3N316jUSdhvPyYTW29G4v9ebbcS.jpg',
   'genre_ids': [53, 28, 80],
   'id': 38700,
   'original_language': 'en',
   'original_title': 'Bad Boys for Life',
   'overview': 'Marcus and Mike are forced to confront new threats, career changes, and midlife crises as they join the newly created elite team AMMO of the Miami police department to take down the ruthless Armando Armas, the vicious leader of a Miami drug cartel.',
   'popularity': 77.044,
   'poster_path': '/y95lQLnuNKdPAzw9F9Ab8kJ80c3.jpg',
   'release_date': '2020-01-15',
   'title': 'Bad Boys for Life',
   'video': False,
   'vote_average': 7.2,
   'vote_count': 6624},
  {'adult': False,
   'backdrop_path': '/rc8WAwoTTZ5HDUDBiKhIohbl57A.jpg',
   'genre_ids': [27],
   'id': 575088,
   'original_language': 'ru',
   'original_title': 'Яга. Кошмар тёмного леса',
   'overview': 'The young family who moved to a new apartment on the outskirts of the city. The nanny hired by them for the newborn daughter quickly gained confidence. However, the older boy, Egor, talks about the frightening behavior of a woman, but his parents do not believe him. The surveillance cameras installed by the father for comfort only confirm everything is in order. Then one day, Egor, returning home, finds no trace of either the nanny or the little sister, and the parents are in a strange trance and do not even remember that they had a daughter. Then Egor, together with his friends, goes in search, during which it turns out that the nanny is an ancient Slavic demon, popularly known as Baba Yaga.',
   'popularity': 70.117,
   'poster_path': '/8m5HTXzwewlfXhtZtLlLts53YTW.jpg',
   'release_date': '2020-02-27',
   'title': 'Baba Yaga: Terror of the Dark Forest',
   'video': False,
   'vote_average': 6.1,
   'vote_count': 160},
  {'adult': False,
   'backdrop_path': '/cpTjuXuNTEDJc7qJEiUbUGcn85F.jpg',
   'genre_ids': [27, 35],
   'id': 664168,
   'original_language': 'en',
   'original_title': 'Fat Ass Zombies',
   'overview': 'In a sleepy town, one man, a wannabe horror film director is about to have his life and the world he knows change forever. Finally, he gets the big break he has been waiting a lifetime for, but its not Hollywood knocking on his door.',
   'popularity': 62.376,
   'poster_path': '/btrers8SNujMJhxjLvjh7AJpN3T.jpg',
   'release_date': '2020-02-18',
   'title': 'Fat Ass Zombies',
   'video': False,
   'vote_average': 4.8,
   'vote_count': 43},
  {'adult': False,
   'backdrop_path': '/tcrNJfyNEIqaBR8Ogkgnq5xQJnf.jpg',
   'genre_ids': [10749, 18],
   'id': 342470,
   'original_language': 'en',
   'original_title': 'All the Bright Places',
   'overview': 'Two teens facing personal struggles form a powerful bond as they embark on a cathartic journey chronicling the wonders of Indiana.',
   'popularity': 69.591,
   'poster_path': '/4SafxuMKQiw4reBiWKVZJpJn80I.jpg',
   'release_date': '2020-02-28',
   'title': 'All the Bright Places',
   'video': False,
   'vote_average': 7.7,
   'vote_count': 2212},
  {'adult': False,
   'backdrop_path': '/xFxk4vnirOtUxpOEWgA1MCRfy6J.jpg',
   'genre_ids': [10751, 16, 12, 35, 14],
   'id': 508439,
   'original_language': 'en',
   'original_title': 'Onward',
   'overview': 'In a suburban fantasy world, two teenage elf brothers embark on an extraordinary quest to discover if there is still a little magic left out there.',
   'popularity': 66.363,
   'poster_path': '/f4aul3FyD3jv3v4bul1IrkWZvzq.jpg',
   'release_date': '2020-02-29',
   'title': 'Onward',
   'video': False,
   'vote_average': 7.8,
   'vote_count': 4625},
  {'adult': False,
   'backdrop_path': '/kLsrE6q4ld144ECBkydZ4dV8t9T.jpg',
   'genre_ids': [27],
   'id': 648990,
   'original_language': 'es',
   'original_title': 'La casa',
   'overview': 'Responding to an urgent call for help, a police officer becomes trapped by the evil spirits of a cursed house.',
   'popularity': 55.255,
   'poster_path': '/fvTGWaQejnHQBZbEOrdbb38NBTC.jpg',
   'release_date': '2020-01-30',
   'title': 'La Casa',
   'video': False,
   'vote_average': 6.5,
   'vote_count': 69},
  {'adult': False,
   'backdrop_path': '/yFRpUmsreYO5Bc0HVBTsJsHIIox.jpg',
   'genre_ids': [12, 10751, 18],
   'id': 481848,
   'original_language': 'en',
   'original_title': 'The Call of the Wild',
   'overview': 'Buck is a big-hearted dog whose blissful domestic life is turned upside down when he is suddenly uprooted from his California home and transplanted to the exotic wilds of the Yukon during the Gold Rush of the 1890s. As the newest rookie on a mail delivery dog sled team—and later its leader—Buck experiences the adventure of a lifetime, ultimately finding his true place in the world and becoming his own master.',
   'popularity': 50.723,
   'poster_path': '/33VdppGbeNxICrFUtW2WpGHvfYc.jpg',
   'release_date': '2020-02-19',
   'title': 'The Call of the Wild',
   'video': False,
   'vote_average': 7.6,
   'vote_count': 2676},
  {'adult': False,
   'backdrop_path': '/prNSFGKGjtc2lYEr8zjDastCeEg.jpg',
   'genre_ids': [35, 10749],
   'id': 552687,
   'original_language': 'ja',
   'original_title': 'ヲタクに恋は難しい',
   'overview': 'An effervescent musical about one of the most unlikely couples seen on screen: two Otaku intent on hiding their nerdiness from their colleagues!',
   'popularity': 51.684,
   'poster_path': '/9JV0LOcazudqEcz2NNOMqEIzACz.jpg',
   'release_date': '2020-02-07',
   'title': 'Wotakoi: Love is Hard for Otaku',
   'video': False,
   'vote_average': 7.1,
   'vote_count': 37},
  {'adult': False,
   'backdrop_path': '/sCtJkYwBrJm8mygRrDGyluf1gSV.jpg',
   'genre_ids': [27, 878, 53],
   'id': 736509,
   'original_language': 'en',
   'original_title': 'Intersect',
   'overview': 'A group of young Miskatonic University scientists invent a time machine, only to learn that they are being manipulated by mysterious, unseen forces from another dimension.',
   'popularity': 42.426,
   'poster_path': '/e6hgmD0P133bW5EH1kfhscwXN2a.jpg',
   'release_date': '2020-02-12',
   'title': 'Intersect',
   'video': False,
   'vote_average': 5.9,
   'vote_count': 39},
  {'adult': False,
   'backdrop_path': '/27nn2YJBwY7a1etZ0AiIcOrIgu3.jpg',
   'genre_ids': [18, 10749],
   'id': 664413,
   'original_language': 'pl',
   'original_title': '365 dni',
   'overview': 'A woman falls victim to a dominant mafia boss, who imprisons her and gives her one year to fall in love with him.',
   'popularity': 41.851,
   'poster_path': '/6KwrHucIE3CvNT7kTm2MAlZ4fYF.jpg',
   'release_date': '2020-02-07',
   'title': '365 Days',
   'video': False,
   'vote_average': 7,
   'vote_count': 6212},
  {'adult': False,
   'backdrop_path': '/xcUf6yIheo78btFqihlRLftdR3M.jpg',
   'genre_ids': [10751, 14, 12],
   'id': 448119,
   'original_language': 'en',
   'original_title': 'Dolittle',
   'overview': 'After losing his wife seven years earlier, the eccentric Dr. John Dolittle, famed doctor and veterinarian of Queen Victoria’s England, hermits himself away behind the high walls of Dolittle Manor with only his menagerie of exotic animals for company. But when the young queen falls gravely ill, a reluctant Dolittle is forced to set sail on an epic adventure to a mythical island in search of a cure, regaining his wit and courage as he crosses old adversaries and discovers wondrous creatures.',
   'popularity': 40.963,
   'poster_path': '/uoplwswBDy7gsOyrbGuKyPFoPCs.jpg',
   'release_date': '2020-01-01',
   'title': 'Dolittle',
   'video': False,
   'vote_average': 6.8,
   'vote_count': 2737},
  {'adult': False,
   'backdrop_path': '/gMRBMlcgp5yQeqJ0OAff0uyZfnw.jpg',
   'genre_ids': [12, 10751, 18],
   'id': 657811,
   'original_language': 'de',
   'original_title': 'Lassie - Eine abenteuerliche Reise',
   'overview': "12-year-old Florian and his beloved dog Lassie live in an idyllic village in the German countryside. When Florian's father loses his job, the family have to move into a small apartment where there are no dogs allowed. Lassie is given away to another family, but Florian and Lassie yearn to be reunited again so Florian sets out on an adventure to find his best friend.",
   'popularity': 44.705,
   'poster_path': '/3rUc7jHNvWIPMkjRcl6Tr8GtwwO.jpg',
   'release_date': '2020-02-20',
   'title': 'Lassie Come Home',
   'video': False,
   'vote_average': 6.6,
   'vote_count': 75},
  {'adult': False,
   'backdrop_path': '/ww7eC3BqSbFsyE5H5qMde8WkxJ2.jpg',
   'genre_ids': [28, 27, 878, 53],
   'id': 443791,
   'original_language': 'en',
   'original_title': 'Underwater',
   'overview': 'After an earthquake destroys their underwater station, six researchers must navigate two miles along the dangerous, unknown depths of the ocean floor to make it to safety in a race against time.',
   'popularity': 41.779,
   'poster_path': '/gzlbb3yeVISpQ3REd3Ga1scWGTU.jpg',
   'release_date': '2020-01-08',
   'title': 'Underwater',
   'video': False,
   'vote_average': 6.3,
   'vote_count': 2242},
  {'adult': False,
   'backdrop_path': '/6aVB2B2GDc4EuNinHgoBgtkuHQz.jpg',
   'genre_ids': [18, 27, 53],
   'id': 575774,
   'original_language': 'en',
   'original_title': 'His House',
   'overview': 'After making a harrowing escape from war-torn South Sudan, a young refugee couple struggle to adjust to their new life in a small English town that has an unspeakable evil lurking beneath the surface.',
   'popularity': 34.152,
   'poster_path': '/s6XxJEe4ovVTMgmGmKeO87OFANU.jpg',
   'release_date': '2020-01-27',
   'title': 'His House',
   'video': False,
   'vote_average': 6.5,
   'vote_count': 677},
  {'adult': False,
   'backdrop_path': '/brLBKS5vQfP1vjiupHqa3xg1XQC.jpg',
   'genre_ids': [14, 12, 35],
   'id': 520725,
   'original_language': 'fr',
   'original_title': 'Le prince oublié',
   'overview': 'Djibi lives alone with Sofia, his 8-year-old daughter. Every night, he invents a story to put him to sleep. When Sofia falls asleep, these extraordinary stories come to life somewhere in an imaginary world inhabited by knights, pirates and other dragons. In this world that belongs only to them, Sofia is always the princess to save, and the brave Prince is none other than Djibi himself.  But 3 years later, the entry of Sofia to the college will mark the end of her childhood. To the despair of her father, she no longer needs her stories at night. On the one hand, Djibi will have to accept that his daughter will grow up and move away from him. On the other hand, in the World of Stories, the Prince will have to face the most epic of all his adventures. Find your destiny in a world where it no longer has a place.',
   'popularity': 32.516,
   'poster_path': '/iFcSfoMu9hQIX4t0CxIkDJKgIES.jpg',
   'release_date': '2020-02-12',
   'title': 'The Lost Prince',
   'video': False,
   'vote_average': 5.8,
   'vote_count': 266}],
 'total_pages': 222,
 'total_results': 4431}

In [122]:
#Convert to dataframe
pd.DataFrame(data)

,page,results,total_pages,total_results
0,1,"{'adult': False, 'backdrop_path': '/ySHlkHDbXz...",222,4431
1,1,"{'adult': False, 'backdrop_path': '/stmYfCUGd8...",222,4431
2,1,"{'adult': False, 'backdrop_path': '/oj9pEWQq5h...",222,4431
3,1,"{'adult': False, 'backdrop_path': '/jiqD14fg7U...",222,4431
4,1,"{'adult': False, 'backdrop_path': '/aiQICxiWNc...",222,4431
5,1,"{'adult': False, 'backdrop_path': '/3N316jUSdh...",222,4431
6,1,"{'adult': False, 'backdrop_path': '/rc8WAwoTTZ...",222,4431
7,1,"{'adult': False, 'backdrop_path': '/cpTjuXuNTE...",222,4431
8,1,"{'adult': False, 'backdrop_path': '/tcrNJfyNEI...",222,4431
9,1,"{'adult': False, 'backdrop_path': '/xFxk4vnirO...",222,4431
10,1,"{'adult': False, 'backdrop_path': '/kLsrE6q4ld...",222,4431
11,1,"{'adult': False, 'backdrop_path': '/yFRpUmsreY...",222,4431
12,1,"{'adult': False, 'backdrop_path': '/prNSFGKGjt...",222,4431
13,1,"{'adult': False, 'backdrop_path': '/sCtJkYwBrJ...",222,4431
14,1,"{'adult': False, 'backdrop_path': '/27nn2YJBwY...",222,4431
15,1,"{'adult': False, 'backdrop_path': '/xcUf6yIheo...",222,4431
16,1,"{'adult': False, 'backdrop_path': '/gMRBMlcgp5...",222,4431
17,1,"{'adult': False, 'backdrop_path': '/ww7eC3BqSb...",222,4431
18,1,"{'adult': False, 'backdrop_path': '/6aVB2B2GDc...",222,4431
19,1,"{'adult': False, 'backdrop_path': '/brLBKS5vQf...",222,4431

In [123]:
pd.DataFrame(data["results"])

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/ySHlkHDbXztjdjRJ0pZN7FXRnaW.jpg,"[16, 12, 28, 14]",631132,ja,ゴブリンスレイヤー -GOBLIN'S CROWN-,Goblin Slayer and his party head up to the sno...,138.039,/oyDaF4za9C9GxfYSyZUmj2aZGJT.jpg,2020-02-01,Goblin Slayer: Goblin's Crown,False,7.7,139
1,False,/stmYfCUGd8Iy6kAMBr6AmWqx8Bq.jpg,"[28, 878, 35, 10751]",454626,en,Sonic the Hedgehog,Based on the global blockbuster videogame fran...,124.308,/aQvJ5WPzZgYVDrxLX4R6cLJCEaQ.jpg,2020-02-12,Sonic the Hedgehog,False,7.4,7240
2,False,/oj9pEWQq5higRzKWiE8f0d5hBSb.jpg,"[53, 27, 18]",617708,es,La Llorona,"Accused of the genocide of Mayan people, retir...",90.234,/n2O3cSuxSKlnCiEXI2CB5auXA2G.jpg,2020-01-22,La Llorona,False,6.6,223
3,False,/jiqD14fg7UTZOT6qgvzTmfRYpWI.jpg,"[28, 80]",495764,en,Birds of Prey (and the Fantabulous Emancipatio...,"Harley Quinn joins forces with a singer, an as...",109.157,/h4VB6m0RwcicVEZvzftYZyKXs6K.jpg,2020-02-05,Birds of Prey (and the Fantabulous Emancipatio...,False,7.0,8238
4,False,/aiQICxiWNcOsJruYxdPuhb6WtWu.jpg,"[9648, 18, 27, 12, 16]",658558,ja,劇場版 巨蟲列島,"After an airplane crash during a school trip, ...",118.732,/uJFki1BLHvEi4gaPCJvy9SZQZpx.jpg,2020-01-10,The Island of Giant Insects,False,4.5,11
5,False,/3N316jUSdhvPyYTW29G4v9ebbcS.jpg,"[53, 28, 80]",38700,en,Bad Boys for Life,Marcus and Mike are forced to confront new thr...,77.044,/y95lQLnuNKdPAzw9F9Ab8kJ80c3.jpg,2020-01-15,Bad Boys for Life,False,7.2,6624
6,False,/rc8WAwoTTZ5HDUDBiKhIohbl57A.jpg,[27],575088,ru,Яга. Кошмар тёмного леса,The young family who moved to a new apartment ...,70.117,/8m5HTXzwewlfXhtZtLlLts53YTW.jpg,2020-02-27,Baba Yaga: Terror of the Dark Forest,False,6.1,160
7,False,/cpTjuXuNTEDJc7qJEiUbUGcn85F.jpg,"[27, 35]",664168,en,Fat Ass Zombies,"In a sleepy town, one man, a wannabe horror fi...",62.376,/btrers8SNujMJhxjLvjh7AJpN3T.jpg,2020-02-18,Fat Ass Zombies,False,4.8,43
8,False,/tcrNJfyNEIqaBR8Ogkgnq5xQJnf.jpg,"[10749, 18]",342470,en,All the Bright Places,Two teens facing personal struggles form a pow...,69.591,/4SafxuMKQiw4reBiWKVZJpJn80I.jpg,2020-02-28,All the Bright Places,False,7.7,2212
9,False,/xFxk4vnirOtUxpOEWgA1MCRfy6J.jpg,"[10751, 16, 12, 35, 14]",508439,en,Onward,"In a suburban fantasy world, two teenage elf b...",66.363,/f4aul3FyD3jv3v4bul1IrkWZvzq.jpg,2020-02-29,Onward,False,7.8,4625
10,False,/kLsrE6q4ld144ECBkydZ4dV8t9T.jpg,[27],648990,es,La casa,"Responding to an urgent call for help, a polic...",55.255,/fvTGWaQejnHQBZbEOrdbb38NBTC.jpg,2020-01-30,La Casa,False,6.5,69
11,False,/yFRpUmsreYO5Bc0HVBTsJsHIIox.jpg,"[12, 10751, 18]",481848,en,The Call of the Wild,Buck is a big-hearted dog whose blissful domes...,50.723,/33VdppGbeNxICrFUtW2WpGHvfYc.jpg,2020-02-19,The Call of the Wild,False,7.6,2676
12,False,/prNSFGKGjtc2lYEr8zjDastCeEg.jpg,"[35, 10749]",552687,ja,ヲタクに恋は難しい,An effervescent musical about one of the most ...,51.684,/9JV0LOcazudqEcz2NNOMqEIzACz.jpg,2020-02-07,Wotakoi: Love is Hard for Otaku,False,7.1,37
13,False,/sCtJkYwBrJm8mygRrDGyluf1gSV.jpg,"[27, 878, 53]",736509,en,Intersect,A group of young Miskatonic University scienti...,42.426,/e6hgmD0P133bW5EH1kfhscwXN2a.jpg,2020-02-12,Intersect,False,5.9,39
14,False,/27nn2YJBwY7a1etZ0AiIcOrIgu3.jpg,"[18, 10749]",664413,pl,365 dni,"A woman falls victim to a dominant mafia boss,...",41.851,/6KwrHucIE3CvNT7kTm2MAlZ4fYF.jpg,2020-02-07,365 Days,False,7.0,6212
15,False,/xcUf6yIheo78btFqihlRLftdR3M.jpg,"[10751, 14, 12]",448119,en,Dolittle,"After losing his wife seven years earlier, the...",40.963,/uoplwswBDy7gsOyrbGuKyPFoPCs.jpg,2020-01-01,Dolittle,False,6.8,2737
16,False,/gMRBMlcgp5yQeqJ0OAff0uyZfnw.jpg,"[12, 10751, 18]",657811,de,Lassie - Eine abenteuerliche Reise,12-year-old Florian and his beloved dog Lassie...,44.705,/3rUc7jHNvWIPMkjRcl6Tr8GtwwO.jpg,2020-02-20,Lassie Come Home,False,6.6,75
17,False,/ww7eC3BqSbFsyE5H5qMde8WkxJ2.jpg,"[28, 27, 878, 53]",443791,en,Underwater,After an earthquake destroys their underwater ...,41.779,/gzlbb3yeVISpQ3REd3Ga1scWGTU.jpg,2020-01-08,Underwater,False,6.3,2242
18,False,/6aVB2B2GDc4EuNinHgoBgtkuHQz.jpg,"[18, 27, 53]",575774,en,His House,After making a harrowing escape from war-torn ...,34.152,/s6XxJEe4ovVTMgmGmKeO87OFANU.jpg,2020-01-27,His House,False,6.5,677
19,False,/brLBKS5vQfP1vjiupHqa3xg1XQC.jpg,"[14, 12, 35]",520725,fr,Le prince oublié,"Djibi lives alone with Sofia, his 8-year-old d...",32.516,/iFcSfoMu9hQIX4t0CxIkDJKgIES.jpg,2020-02-12,The Lost Prince,False,5.8,266

# End of sheet